{% extends 'core/base.html' %}

{% block title %}About | InnerReality{% endblock %}

{% block content %}
    <h1>The InnerReality Nexus</h1>
    
    <div class="about-layout">
        <article class="mission-text">
            <h2>The Mission</h2>
            <p>InnerReality is more than a digital gaming frontier; it is a brand that hopes to inspire people everywhere through gaming innovation and true storytelling.</p>
            <p>We believe that the future of gaming media isn't just about playing the games, but about telling the stories that help us understand each other better.</p>
            
            <h2>The Vision</h2>
            <p>Founded in 2025, this platform serves as a gateway to the InnerReality ecosystem. We will have monthly updates on our work - we ask for your patience and understanding during this time as we figure out exactly our niche in this new habitat.</p>
        
            <h2>Meet the Team</h2>
            <p>Ben and Theo are 2 friends who met in undergrad engineering studies in San Diego. Ben is more business-oriented while Theo specializes in computers and development.</p>
            <p>*We are currently looking for an illustrator/designer to join our humble team of 2. Please include your portfolio along with necesssary documentation in your email.*</p>
        </article>

        <aside class="system-specs">
            <h3>System Architecture</h3>
            <ul>
                <li><strong>Core:</strong> Django 6.0</li>
                <li><strong>Engine:</strong> Python 3.14</li>
                <li><strong>Style:</strong> Obsidian / Cyan Neon</li>
                <li><strong>Status:</strong> <span class="online-pulse">Online</span></li>
            </ul>
        </aside>
    </div>
{% endblock %}